@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      max-width: 590px
  .card
    width: 230px
    height: 230px
@media (max-width: 991px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .header
    &-top
      padding: 30px 0
    &__search
      margin-left: 47px
    &-bottom
      padding: 22px 0
      &>.container
        max-width: 675px
    &-menu
      &__item
        font-size: 12px
  .logo
    width: 132px
  .search
    width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      max-width: 700px
      width: 100%
    &__slider
      margin-bottom: 30px
    &-block
      flex-direction: row

  .booking
    width: 340px
  .map
    width: 340px
  .activities
    &__card
      margin-bottom: 20px
  .cards
    flex-wrap: wrap
  .card
    flex-basis: 48%
  .reviews
    &-slider
      &__item
        max-width: 580px
@media (max-width: 768px)
  .container,
  .newsletter-wrapper
    max-width: 540px
    width: 95%
  .header
    &-bottom
      display: none
    &__search, &__user
      display: none
  .humburger-menu
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 16px
    height: 11px
    background-color: $white
    border: none
    cursor: pointer
    &:focus
      outline: none
    &__item
      width: 16px
      height: 1px
      background-color: $dark

  .hotel
    &-slider
      height: 350px
    &__slider
      margin-bottom: 20px
    &-block
      flex-direction: column
    &__booking
      margin-bottom: 20px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
      padding: 76px 0 83px
    &__title
      margin-bottom: 37px
  .reviews
    &__title
      margin-bottom: 50px
      font-size: 30px
    &-slider
      &__button
        top: 30px
        &_prev
          left: 50%
          transform: translateX(-50%)
          margin-left: -75px
        &_next
          right: 50%
          transform: translateX(50%)
          margin-right: -75px

@media (max-width: 576px)
  .container,
  .newsletter-wrapper
    width: 90%
  .logo
    width: 100px
  .hotel
    &-rating
      display: none
    &-name
      flex-basis: 100%
      &-wrapper
        justify-content: space-between
        align-items: center
      &__stars
        flex-basis: auto
        margin-bottom: 16px
      &__title
        flex-basis: 100%
      &__offer
        order: -1
        margin-bottom: 10px
    &-slider
      &__button
        width: 20px
        height: 20px
        background-size: 7px
  .newsletter
    &-title
      font-size: 20px
      &__strong
        font-size: 30px
  .subscribe
    width: 280px
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
    &-slider
      &__item
        padding: 0 31px 36px
        &::before, &::after
          display: none
@media (max-width: 480px)
  .hotel
    &-slider
      height: 250px
  .activities
    padding: 40px 0 60px
    &__title
      margin-bottom: 36px
      font-size: 18px
  .cards
    justify-content: center
  .card
    flex-basis: 90%
    height: 255px
  .reviews
    &__title
      margin-bottom: 42px
@media (max-width: 400px)
  .hotel
    &-slider
      height: 180px
