@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 991px)
  .container
    max-width: 720px
  .header
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-bottom
      padding: 22px 0
    &-menu
      &__item
        font-size: 12px
  .logo
    width: 132px
  .search
    max-width: 340px
@media (max-width: 768px)
  .container
    max-width: 540px
    width: 95%
  .header
    &-bottom
      display: none
    &__search, &__user
      display: none
  .humburger-menu
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 16px
    height: 11px
    background-color: $white
    border: none
    cursor: pointer
    &:focus
      outline: none
    &__item
      width: 16px
      height: 1px
      background-color: $dark

@media (max-width: 576px)
  .logo
    width: 100px
