@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      max-width: 590px
  .card
    width: 230px
    height: 230px
@media (max-width: 991px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .header
    &-top
      padding: 30px 0
    &__search
      margin-left: 47px
    &-bottom
      padding: 22px 0
      &>.container
        max-width: 675px
    &-menu
      &__item
        font-size: 12px
  .logo
    width: 132px
  .search
    width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      max-width: 700px
      width: 100%
    &__slider
      margin-bottom: 30px
    &-block
      flex-direction: row

  .booking
    width: 340px
  .map
    width: 340px
  .activities
    &__card
      margin-bottom: 20px
  .cards
    flex-wrap: wrap
  .card
    flex-basis: 48%
  .reviews
    &-slider
      &__item
        max-width: 580px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &-logo
      grid-row: 1 / 2
      grid-column: span 2
    &-social
      grid-row: 1 / 2
      grid-column: span 4
      align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &-details
      grid-row: 3
      grid-column: span 5
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contacts
      &-form
        grid-row: 4
        grid-column: span 5

@media (max-width: 768px)
  body
    padding-top: 78px
  .container,
  .newsletter-wrapper
    max-width: 540px
    width: 95%
  .header
    &-menu
      &-list
        flex-direction: column
      &__item
        margin-bottom: 20px
        &_mobile
          &_visible
            display: block
    &_mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-bottom
      display: none
      &_visible
        display: block
        position: fixed
        left: 0
        right: 0
        bottom: 0
        top: 78px
        padding-top: 30px
    &__search, &__user
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &__search
      width: 245px
      margin-left: 0
  .user
    &__name
      color: $white
      margin-left: 0
      margin-top: 10px
  .humburger-menu
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 16px
    height: 11px
    background-color: $white
    border: none
    cursor: pointer
    &:focus
      outline: none
    &__item
      width: 16px
      height: 1px
      background-color: $dark

  .hotel
    &-slider
      height: 350px
    &__slider
      margin-bottom: 20px
    &-block
      flex-direction: column
    &__booking
      margin-bottom: 20px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
      padding: 76px 0 83px
    &__title
      margin-bottom: 37px
  .reviews
    &__title
      margin-bottom: 50px
      font-size: 30px
    &-slider
      &__button
        top: 30px
        &_prev
          left: 50%
          transform: translateX(-50%)
          margin-left: -75px
        &_next
          right: 50%
          transform: translateX(50%)
          margin-right: -75px
  .footer
    padding: 73px 0 33px
    &-logo
      max-width: 104px
    &-details
      grid-column: span 6
    &__contacts
      &-form
        grid-column: span 6
    &-buttom
      margin-top: 63px
@media (max-width: 576px)
  .container,
  .newsletter-wrapper
    width: 90%
  .logo
    width: 100px
  .hotel
    &-rating
      display: none
    &-name
      flex-basis: 100%
      &-wrapper
        justify-content: space-between
        align-items: center
      &__stars
        flex-basis: auto
        margin-bottom: 16px
      &__title
        flex-basis: 100%
      &__offer
        order: -1
        margin-bottom: 10px
    &-slider
      &__button
        width: 20px
        height: 20px
        background-size: 7px
  .newsletter
    &-title
      font-size: 20px
      &__strong
        font-size: 30px
  .subscribe
    width: 280px
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
    &-slider
      &__item
        padding: 0 31px 36px
        &::before, &::after
          display: none
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &-logo
      grid-row: 1
      grid-column: 1
    &-social
      grid-row: 2
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &-details
      grid-row: 6
      grid-column: 1
    &__contacts
      &-form
        grid-row: 7
        grid-column: 1
@media (max-width: 500px)
  .footer
    padding: 69px 0 21px
    &-form
      &__info
        flex-basis: 100%
        margin-bottom: 15px
    &__input
      flex-basis: 100%
    &__button
      order: 2
    &-bottom
      flex-wrap: wrap
      margin-top: 30px
      &__info
        margin-bottom: 10px

@media (max-width: 480px)
  .hotel
    &-slider
      height: 250px
  .activities
    padding: 40px 0 60px
    &__title
      margin-bottom: 36px
      font-size: 18px
  .cards
    justify-content: center
  .card
    flex-basis: 90%
    height: 255px
  .reviews
    &__title
      margin-bottom: 42px
@media (max-width: 400px)
  .hotel
    &-slider
      height: 180px
