.hotel
  padding: 23px 0 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
  &__info
    margin-bottom: 20px
  &-name
    &-wrapper
      display: flex
      flex-wrap: wrap
      align-items: center
    &__stars
      margin-bottom: 4px
      flex-basis: 100%
    &__title
      margin: 0
      margin-right: 14px
    &__description
      margin: 0
  &-title
    font-weight: 700
    font-size: 24px
    line-height: 1.25
  &-description
    font-size: 12px
    line-height: 1.25
  &-rating
    max-width: 65px
    min-height: 45px
    text-align: center
    background-color: $primary
    color: $white
    border-radius: 4px
    &__text
      font-weight: 600
      font-size: 8px
      line-height: 1.25
    &__count
      font-size: 14px
      &_small
        font-size: 10px

.offer
  padding: 4px 9px
  background-color: $primary
  color: $white
  border-radius: 3px
  font-weight: 600
  font-size: 10px
  text-align: center

.swiper
  &-container
    position: relative
    width: 100%
    height: 450px
    border-radius: 8px
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 10
      background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)

.slider
  max-width: 728px
  &-button
    position: absolute
    width: 30px
    height: 30px
    z-index: 99
    top: 50%
    transform: translateY(-50%)
    background-repeat: no-repeat
    background-position: center
    background-size: 10px
    background-color: transparent
    border: none
    cursor: pointer
    &_prev
      background-image: url('../img/icon/arrow-prev.svg')
      left: 18px
    &_next
      background-image: url('../img/icon/arrow-next.svg')
      right: 18px
